{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"printWidth": 88,
	"quoteProps": "as-needed",
	"singleQuote": false,
	"trailingComma": "es5",
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
