/* Webfont: BreulGroteskB-BlackItalic */@font-face {
    font-family: 'BreulGroteskBBlack';
    src: url('BreulGroteskB-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('BreulGroteskB-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BreulGroteskB-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('BreulGroteskB-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BreulGroteskB-BlackItalic.svg#BreulGroteskB-BlackItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

