@import "fonts.css";

:root {
	/* COLORS */
	--color-black: #0a090c;
	--color-slate: #07393c;
	--color-apricot-light: #fcd7ad;
	--color-isabelline: #f0edee;
	--color-blue: #04b0f0;
	--color-blue-baby: #90ddf0;
	--color-green: #2c666e;
	--color-purple: #7f7caf;
	--color-gray-light: #eee;
	--color-gray: #aaa;
	--color-red: #ea0b3f;

	--color-link: var(--color-red);
	--color-font: var(--color-slate);

	/* TYPE */

	--font-size-very-large: 1.8rem;
	--font-size-large: 1.55rem;
	--font-size: 1.35rem;
	--font-size-small: 1rem;
	--line-height-tight: 1.2em;
	--line-height: 1.3em;
	--line-height-loose: 1.5em;

	--sans-serif-fonts: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	--display-fonts: "BreulGroteskBBold", sans-serif;
	--serif-fonts: "Times New Roman", "Georgia", serif;

	/* // SCAFFOLDING */
	--gap: 1rem;
	--container-width: 70rem;
	--container-padding-h: max(var(--gap), calc((100% - var(--container-width)) / 2));
	--tap-target: 48px;

	/* OTHER VISUAL THINGS */
	--speed-transition: 150ms;
	--speed-transition-quick: 80ms;
}

html body {
	margin: 0;
	padding: 0;
	min-height: -webkit-fill-available;
}

/* RELEVANT RESET */
html body * {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 var(--gap) 0;
}

/* A valid, accessible method for visually hiding content (such as text labels on icon buttons) while preserving it for screen readers and other sight-assist tools. */
.visually-hidden:not(:focus) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.serif {
	font: var(--font-size) / 1.5em var(--serif-fonts);
}

.sans-serif {
	/* The sans font is a little larger-looking, so bump it down a click for visual consistency */
	font: var(--font-size-small) / 1.3em var(--sans-serif-fonts);
}

.header {
	font: var(--font-size-very-large) / var(--line-height-tight) var(--display-fonts);
}

.label {
	font: var(--font-size-large) / var(--line-height-tight) var(--display-fonts);
	font-weight: 200;
}
.sublabel {
	font: var(--font-size) / var(--line-height-tight) var(--display-fonts);
	font-weight: 200;
}

.agate {
	font: var(--font-size-small) / 1.3em var(--sans-serif-fonts);
}

p:not([class]) {
	/* Any standalone paragraph tag should just get this base styling*/
	font: var(--font-size) / var(--line-height-loose) var(--serif-fonts);
	color: var(--color-font);
	margin: 1rem 0;
}
a {
	color: currentColor;
	text-decoration-color: var(--color-link);
}

/* SCAFFOLDING FUN */

.container {
	padding: calc(2 * var(--gap)) var(--container-padding-h);
}

.stack {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--gap);
}

.stack > :is(*, p:not([class])) {
	margin-block: 0;
}

@media (pointer: fine) {
	/* We're using a mouse/This is not a touchscreen */
	:root {
		--tap-target: 0;
	}
}
