@import "fonts.css";

:root {
	/* COLORS */
	--color-black: #0a090c;
	--color-slate: #07393c;
	--color-apricot-light: #fcd7ad;
	--color-isabelline: #f0edee;
	--color-blue: #04b0f0;
	--color-blue-baby: #90ddf0;
	--color-green: #2c666e;
	--color-purple: #565670;
	--color-purple-light: #f2f1fb;
	--color-gray-light: #eee;
	--color-gray: #aaa;
	--color-gray-dark: #555;
	--color-red: #ea0b3f;
	--color-pink: #f86d8d;

	--color-link: var(--color-pink);
	--color-link-text: white;
	--color-font: light-dark(var(--color-slate), var(--color-isabelline));

	/* TYPE */

	--font-size-very-large: 1.8rem;
	--font-size-large: 1.55rem;
	--font-size-medium: 1.25rem;
	--font-size: 1.15rem;
	--font-size-small: 1rem;
	--font-size-very-small: 0.85rem;
	--line-height-tight: 1.2em;
	--line-height: 1.3em;
	--line-height-loose: 1.5em;

	--sans-serif-fonts: "Poppins", "Helvetica", sans-serif;

	/* // SCAFFOLDING */
	--gap: 1rem;
	--tap-target: 48px;
	--nav-height: 4rem;
	--nav-margin: 10rem;

	/* OTHER VISUAL THINGS */
	--speed-transition: 150ms;
	--speed-transition-quick: 80ms;

	/* THEME TOKENS */
	--color-border: light-dark(
		color-mix(in srgb, var(--color-gray) 65%, transparent),
		color-mix(in srgb, var(--color-black) 75%, transparent)
	);

	--color-highlight: var(--color-purple);
	--nav-shadow: 0 3px 7px #0004;
	--nav-color-bg: light-dark(
		color-mix(in srgb, var(--color-apricot-light) 75%, transparent),
		#0008
	);
	--nav-color-bg-opaque: light-dark(#f8dfbe, #0c1926);
	color-scheme: light dark;
}

html {
	scroll-behavior: smooth;
}

html body {
	margin: 0;
	padding: 0;
	min-height: -webkit-fill-available;
	font-family: var(--sans-serif-fonts);
}

html body * {
	box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sans-serif-fonts);
	margin: 0;
	color: var(--color-font);
	line-height: var(--line-height-loose);
}

h2 {
	font-size: var(--font-size-large);
}

h3 {
	font-size: var(--font-size-medium);
}

p {
	font-size: var(--font-size);
}

/* A valid, accessible method for visually hiding content (such as text labels on icon buttons) while preserving it for screen readers and other sight-assist tools. */
.visually-hidden:not(:focus) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Utility class to create a simple, vertical layout with spacing */
.stack {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--gap);
}
